<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://rcksagkoedmwrveummnz.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJja3NhZ2tvZWRtd3J2ZXVtbW56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMzAwMzUsImV4cCI6MjA4OTYwNjAzNX0.G8Bq_bnPAyP5yH8hqVNUo5mlhw2hHBS1Bt3q-tYHC5Y</string>
</dict>
</plist>
